<h1 id="demonstrator-dokument-für-requirements"><a href="#TOC"><span class="header-section-number">1</span> Demonstrator-Dokument für Requirements</a></h1>
<h2 id="dokumenthandhabung"><a href="#TOC"><span class="header-section-number">1.1</span> Dokumenthandhabung</a></h2>
<p>[RS_DM_001] <strong>Dokumentenformat</strong> { Dokumente sollen in einem Format erstellt werden, welches die Publikation auf verschiedenen Medien erlaubt. Wesentliche Beispiele sind</p>
<ul>
<li>PDF</li>
<li>HTML</li>
</ul>
<p>}(PR_MAIN_003,PR_MAIN_004)</p>
<p>[RS_DM_002] <strong>Versionierung</strong> { Einzelnen Dokumentteile sollen unter Versionskontrolle stehen.}(PR_MAIN_003,PR_MAIN_004)</p>
<p>[RS_DM_003] <strong>Baselining</strong> { Für das gesamte Handbuch soll ein übergreifendes Baslining erfolge.}(PR_MAIN_003,PR_MAIN_004)</p>
<p>[RS_DM_004] <strong>Zugriff auf Quellen</strong> { Der Zugriff auf die Dokuemntenquellen muss über Internet möglich sein. Siehe auch [RS_DM_002].}()</p>
<p>[RS_DM_005] <strong>Separate Publikation</strong> { Dokumentenpflege und Veröffentlichung soll getrennt werden.}()</p>
<h2 id="dokumentbearbeitung"><a href="#TOC"><span class="header-section-number">1.2</span> Dokumentbearbeitung</a></h2>
<p>[RS_DM_006] <strong>Tooling bei Teilnehmer</strong> { Tooling sollte bei jedem Teilnehmer installierbar sein}()</p>
<p>[RS_DM_007] <strong>Tooling auf zentralem Server</strong> { Tooling soll zentral installiert sein. Damit wird die Referenz aufgesetzt und die finalen Dokumente erstellt. Die Produktion sollte automatisiert ausgeführt werden.}()</p>
<h2 id="tracing"><a href="#TOC"><span class="header-section-number">1.3</span> Tracing</a></h2>
<p>[RS_DM_008] <strong>Repräsentation von Tracing</strong> { Tracing zwischen Ebenen soll wie folgt repräsentiert werden:</p>
<pre><code>  [RS_DM_006] **Tooling auf zentralem Server**  { Tooling soll 
  zentral installiert sein. Damit wird die Referenz aufgesetzt 
  und die finalen Dokumente erstellt. Die Produktion sollte 
  automatisiert ausgeführt werden.}(PD_MAIN_001, PD_MAIN_003)</code></pre>
<p>}()</p>
